{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Subscription Tracker"sucriFacil"{% endblock %}</title>

  <!-- CSS global -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'crud_suscripciones/css/global.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">

  <!-- Cabecera / Navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">Subscription Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item mx-2">
              <a class="nav-link {% if request.resolver_match.url_name == 'inicio' %}active{% endif %}"
                href="{% url 'inicio' %}">
                Mis Suscripciones
              </a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link {% if request.resolver_match.url_name == 'crear_suscripcion' %}active{% endif %}"
                href="{% url 'crear_suscripcion' %}">
                Agregar Suscripción
              </a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link {% if request.resolver_match.url_name == 'configurar_notificaciones' %}active{% endif %}"
                href="{% url 'configurar_notificaciones' %}">
                Notificaciones
              </a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link"
                href="{% url 'logout' %}">
                Cerrar Sesión
              </a>
            </li>
            {% else %}
            <li class="nav-item mx-2">
              <a class="nav-link {% if request.resolver_match.url_name == 'signin' %}active{% endif %}"
                href="{% url 'signin' %}">
                Iniciar Sesión
              </a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link {% if request.resolver_match.url_name == 'signup' %}active{% endif %}"
                href="{% url 'signup' %}">
                Registrarse
              </a>
          </ul>
            {% endif %}
        </div>
      </div>
    </nav>
  </header>

  <!-- Contenido específico de cada vista -->
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer class="bg-dark text-white py-3 mt-auto">
    <!-- tu footer -->
    <div class="container text-center">
      &copy; 2025 Subscription Tracker
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>